<h1>Enter information below to register</h1>

<form action="/players" method="post">
   <span><input type="text" name="player[username]" placeholder="Username"></span><br>
   <span><input type="text" name="player[email]" placeholder="Email"></span><br>
   <span><input type="password" name="player[password]" placeholder="Password"></span><br>
   
   <br>
   <input type="submit" value="Submit">
</form>
