<style>
  input[type=text], input[type=password] {
    width: 75%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
  }
</style>

<body>
<h1>Enter information below to register</h1>


<form action="/players" method="post">
   <span><input type="text" name="player[username]" placeholder="Username"></span><br>
   <span><input type="text" name="player[email]" placeholder="Email"></span><br>
   <span><input type="text" name="player[email_confirmation]" placeholder="Confirm Email"></span><br>
   <span><input type="password" name="player[password]" placeholder="Password"></span><br>
   <span><input type="password" name="player[password_confirmation]" placeholder="Confirm Password"></span><br>
   
   <br>
   <button type="submit">Submit</button>
</form>
</body>
