<% if !!session[:user_id] %>
    <form action="/decks/new" method="post">
        <input type="submit" value="New Deck">
    </form>
<% end %>

<br>
<h3>All decks</h3>
<% Deck.all.each do |deck| %>
    <li>
        <a href="/decks/<%=deck.id%>">
            <%= "#{deck.name} #{deck.profession.name} (#{deck.archetype})" %>
        </a>
        by
        <a href="/players/<%=deck.creator.slug%>/decks"><%= deck.creator.username %></a>
    </li><br>
<% end %>


